  .my-button{
      border: none;
      color: white;
      padding: 10px;
      display: inline-block;
      text-align: center;
      text-decoration: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;

  }
  .primary{background-color: blueviolet;}
  .secondary{background-color: #e7e7e7;color:#000}
  .success{background-color: green;}
  .danger{background-color: #f44336;}

  .disable{background-color:#ccc;
  color:#888;}
